[package]
name = "owmods_gui"
authors = ["Bwc9876 <bwc9876@outerwildsmods.com>"]
description = "A GUI Tool To Manage OWML Mods"
version = "0.13.2"
readme = "./README.md"
repository = "https://github.com/ow-mods/ow-mod-man/"
license = "GPL-3.0-or-later"
edition = "2021"

[build-dependencies]
tauri-build = { version = "1.5.1", features = [] }

[dependencies]
owmods_core = { version = "0.13.1", path = "../../owmods_core" }
serde_json = "1.0.116"
serde = { version = "1.0.200", features = ["derive"] }
tauri = { version = "1.6.2", features = [ "clipboard-write-text",
    "app-all",
    "dialog-ask",
    "dialog-confirm",
    "dialog-message",
    "dialog-open",
    "dialog-save",
    "os-all",
    "shell-open",
    "updater",
    "window-set-focus",
    "window-set-title",
    # "reqwest-native-tls-vendored"
] }
anyhow = "1.0.82"
tokio = { version = "1.37.0", features = ["sync", "macros"] }
log = { version = "0.4.21", features = ["std", "serde"] }
typeshare = "1.0.3"
notify = { version = "6.1.1", default-features = false, features = [
    "macos_kqueue",
] }
regex = "1.10.4"
time = { version = "0.3.36", features = ["macros", "local-offset"] }
tauri-plugin-deep-link = "0.1.2"
opener = "0.7.0"
tauri-plugin-window-state = "0.1.1"

[features]
default = ["custom-protocol"]
custom-protocol = ["tauri/custom-protocol"]
