.download-badge {
    position: absolute;
    top: -$margin-md;
    right: $margin;
    color: var(--primary-dark);
    padding: 2px 6px;
    font-size: small;
    border-radius: 50px;
}

.downloads-popout {
    z-index: 99;
    position: absolute;
    top: 80%;
    left: 1%;
    right: auto;
    bottom: auto;
    width: 1000%;
    max-width: 60vw;
    max-height: 35vh;
    padding: 0;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid var(--accent-bg);
    background-color: var(--accent-bg-darker);
}

.downloads-popout::-webkit-scrollbar {
    width: $margin;
}

.clear-downloads {
    position: absolute;
    top: $margin-md;
    right: $margin-md;
    padding: 0.1em $margin !important;
    left: auto;
    bottom: auto;
    color: var(--primary-muted);
}

a.clear-downloads svg {
    margin: $margin-sm;
    margin-right: $margin-sm !important;
}

.downloads-popout header {
    color: var(--primary-really-light);
    background-color: var(--accent-bg);
    font-size: large;
    border-bottom: $row-border;
    padding: 0;
    margin: 0;
    text-align: center;
}

.downloads-popout p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.downloads-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 $margin;
    padding: $margin;
    border-bottom: 1px solid var(--accent-bg);
}

.downloads-row svg {
    font-size: x-large;
    display: none;
    padding-right: $margin;
}

.downloads-row progress {
    box-sizing: content-box;
    margin: $margin 0;
}

.downloads-row.download-done progress {
    background-color: var(--primary-muted);
}

.downloads-row.download-done svg {
    display: initial;
}

.no-downloads {
    padding: $margin-xl;
    text-align: center;
    color: var(--primary-dark);
}
