input::-webkit-file-upload-button {
    background-color: var(--button-bg) !important;
    border: none !important;
    padding: $margin $margin-md !important;
    margin-right: $margin !important;
}

input::-webkit-file-upload-button:hover {
    background-color: var(--button-bg-hover) !important;
}

.file-input-row {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    grid-column-gap: $margin;
}

.file-input-row .browse-button {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 93%;
}

.file-input-row .browse-button svg {
    margin-right: $margin;
}
