.logs {
    display: flex;
    overflow: hidden;
    padding: $margin-md;
}

$log-border: 1px solid var(--accent-bg);

.log-list {
    scroll-behavior: auto !important;
    flex-grow: 1;
}

.log-actions {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: fit-content;
}

.log-actions > input {
    margin-bottom: 0 !important;
    align-self: center;
}

.log-actions > label {
    display: flex;
    width: 50%;
    height: 100%;
    margin: $margin;
}

.log-actions > label[for="filter"],
.log-actions > label[for="search"] {
    flex-direction: column;
}

.log-actions > label[for="scroll"] {
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.log-actions > label[for="scroll"] > input {
    margin-left: $margin;
}

.log-actions > div {
    margin: $margin;
    display: flex;
    align-content: center;
    height: 100%;
}

.log-actions a[role="button"] {
    align-self: center;
    white-space: nowrap;
    margin: 0 $margin;
}

.log-line {
    height: fit-content;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    width: 100%;
    padding: $margin $margin-md;
    border-bottom: $log-border;
}

.log-line .sender,
.log-line .message {
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-wrap: anywhere;
    min-width: 0;
}

.log-line {
    flex-grow: 1;
}

.log-line .message {
    white-space: normal;
}

.log-line .sender {
    flex-shrink: 1;
    margin-right: $margin-lg;
    white-space: nowrap;
}

.log-line .message.type-message {
    color: var(--log-message);
}

.log-line .message.type-info {
    color: var(--log-info);
}

.log-line .message.type-success {
    color: var(--log-success);
}

.log-line .message.type-warning {
    color: var(--log-warning);
}

.log-line .message.type-fatal {
    font-weight: bolder;
    color: var(--log-error);
}

.log-line .message.type-error {
    color: var(--log-error);
}

.log-line .message.type-debug {
    color: var(--log-debug);
}
