$log-border: 1px solid var(--accent-bg);

.logs {
    display: flex;
    overflow: hidden;
    padding: $margin-md;

    & .log-list {
        scroll-behavior: auto !important;
        height: 100%;
        overflow-y: auto;
        contain: strict;

        & > div {
            width: 100%;
            position: relative;
        }

        & > div > div {
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }

        & .log-line {
            display: flex;
            width: 100%;
            padding: $margin $margin-md;
            border-bottom: $log-border;
            align-items: center;

            & .message {
                flex-grow: 1;
                width: 65%;
            }

            & .sender {
                width: 20%;
                margin-right: $margin-lg;
                border-bottom: none !important;

                & > span {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            & .count {
                font-size: small;
                margin-left: $margin-lg;
                margin-right: $margin;
                background-color: var(--accent-bg-lighter);
                padding: 0 $margin-md;
                border-radius: 10px;
            }

            & .message.type- {
                &message {
                    color: var(--log-message);
                }

                &info {
                    color: var(--log-info);
                }

                &success {
                    color: var(--log-success);
                }

                &warning {
                    color: var(--log-warning);
                }

                &fatal,
                &error {
                    color: var(--log-error);
                }

                &fatal {
                    font-weight: bolder;
                }

                &debug {
                    color: var(--log-debug);
                }
            }
        }
    }

    & .log-actions {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        height: fit-content;

        & a[role="button"] {
            align-self: center;
            white-space: nowrap;
            margin: 0 $margin;
        }

        & > div {
            margin: $margin;
            display: flex;
            align-content: center;
            height: 100%;
        }

        & > input {
            margin-bottom: 0 !important;
            align-self: center;
        }

        & > label {
            display: flex;
            width: 50%;
            height: 100%;
            margin: $margin;
        }

        & > label[for="filter"],
        & > label[for="search"] {
            flex-direction: column;
        }

        & > label[for="scroll"] {
            flex-direction: row;
            align-items: center;
            justify-content: end;

            & > input {
                margin-left: $margin;
            }
        }
    }
}
