dialog article {
    width: 80%;
    max-height: 70%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

dialog article header {
    background-color: var(--accent-bg);
    margin-bottom: $margin-xl;
    padding: $margin-lg;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

dialog article div.modal-body {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 $margin-xl;
}

dialog article footer {
    background-color: var(--bg);
    padding: $margin;
    margin-top: $margin-lg;
}

dialog article footer a {
    margin-right: $margin-sm;
}

dialog article form {
    margin-bottom: 0;
}

dialog article form input,
dialog article form select {
    margin-bottom: $margin-sm !important;
}

.install-warning {
    color: var(--primary-muted);
    padding: 0;
}

.install-warning .modal-icon {
    margin-bottom: $margin-sm;
}
