dialog article {
    width: 80%;
    max-height: 70%;
    background-color: var(--bg);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

dialog article header {
    background-color: var(--accent-bg);
    margin-bottom: $margin-xl;
    padding: $margin-lg;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

dialog article div.modal-body {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 $margin-lg;
}

dialog article footer {
    background-color: var(--bg);
    padding: $margin $margin-lg;
    margin-top: $margin;
}

dialog article footer a:not(:last-child) {
    margin-right: $margin;
}

dialog article form {
    margin-bottom: 0;
}

dialog article form input,
dialog article form select {
    margin-bottom: $margin !important;
}
