.mod-list {
    margin-top: $margin-lg;
    display: grid;
    grid-auto-flow: row;
}

.mod-header {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas: "heading actions expand";
}

.mod-header:focus {
    color: $primary;
}

.mod-header::after {
    grid-area: expand;
    margin-right: $margin;
}

.mod-heading {
    grid-area: heading;
}

.mod-name {
    margin-right: $margin;
    font-weight: bold;
}

.mod-actions {
    display: grid;
    grid-auto-flow: column;
    grid-area: actions;
    justify-self: right;
    column-gap: $margin;
}
