.mod-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: $margin;
}

.mod-list.remote::-webkit-scrollbar {
    display: none;
}

.mod-search {
    margin: $margin 0;
}

$row-border: 1px solid var(--accent-bg);

.mod-row {
    border-bottom: $row-border;
    padding: $margin;
    width: 100%;
    min-width: 0;
}

.mod-row:last-child {
    border-bottom: none;
}

.mod-row.local {
    display: grid;
    grid-auto-flow: row;
    padding: $margin-md 0;
}

.mod-row.local.center {
    padding: $margin-xl 0;
    align-items: center;
}

.mod-header {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: $margin;
    grid-template-areas: "heading actions expand";
}

.mod-header:focus {
    color: var(--primary);
}

.mod-header::after {
    grid-area: expand;
    margin-right: $margin;
}

.mod-heading {
    grid-area: heading;
    min-width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mod-name {
    margin-right: $margin;
    font-weight: bold;
    white-space: nowrap;
}

.mod-actions {
    display: grid;
    grid-auto-flow: column;
    grid-area: actions;
    justify-self: right;
    align-items: center;
    column-gap: $margin;
}

.mod-actions.center {
    align-self: center;
}

.mod-actions svg {
    cursor: pointer;
    font-size: large;
}

.mod-authors {
    color: var(--primary-muted);
}

.mod-description {
    width: 100%;
    display: block;
    padding-right: 6.5em;
}

.update-all-button {
    margin-top: $margin-md;
    margin-bottom: $margin-sm;
}

.local-mods-buttons {
    margin-top: $margin-md;
    display: flex;
    flex-direction: row;
    column-gap: $margin;
}
