svg.nav-icon {
    width: $margin-lg;
    height: $margin-lg;
    margin: 0;
    font-size: medium;
}

.nav-icon:not(details[role="list"] .nav-icon) {
    margin: 0 $margin-lg;
}

.nav-icon:hover {
    cursor: pointer;
}

svg.main-icon {
    font-size: larger;
    height: $margin-xl;
    width: auto;
}

// Overriding all of pico's dropdown stuff
// Translation: !important time

details[role="list"] summary {
    padding: 0 !important;
    background-color: var(--bg) !important;
    border: none !important;
    color: var(--primary) !important;
}

details[role="list"] summary::after {
    display: none;
}

details[role="list"] summary:focus {
    outline: none !important;
    box-shadow: none !important;
}

details[role="list"] summary + ul {
    top: calc($margin-lg * 2);
    right: $margin;
}

details[role="list"] a {
    display: flex !important;
    justify-content: left;
}

details[role="list"] a:hover {
    cursor: pointer;
}

details[role="list"] a svg {
    margin-right: $margin;
}
