// Edit the modules we need for pico here

$enable-responsive-spacings: true;
$enable-transitions: true;

@import "@picocss/pico/scss/variables.scss";

@import "@picocss/pico/scss/themes/default/styles.scss";

@import "@picocss/pico/scss/layout/document.scss";
@import "@picocss/pico/scss/layout/grid.scss";
@import "@picocss/pico/scss/layout/container.scss";

@import "@picocss/pico/scss/content/typography.scss";
@import "@picocss/pico/scss/content/button.scss";
@import "@picocss/pico/scss/content/form.scss";
@import "@picocss/pico/scss/content/form-checkbox-radio.scss";

@import "@picocss/pico/scss/components/nav.scss";
@import "@picocss/pico/scss/components/dropdown.scss";
@import "@picocss/pico/scss/components/modal.scss";
@import "@picocss/pico/scss/components/progress.scss";

@import "@picocss/pico/scss/utilities/accessibility.scss";
@import "@picocss/pico/scss/utilities/loading.scss";
@import "@picocss/pico/scss/utilities/tooltip.scss";
