.settings h4 {
    margin-bottom: $margin;
    margin-top: $margin-md;
    display: flex;
    align-items: center;
    justify-items: stretch;
    padding-bottom: $margin-sm;
    border-bottom: 1px solid var(--accent-bg);

    & .reset-button {
        height: 100%;
        display: flex;
        margin-left: auto;
        margin-right: $margin;

        & svg {
            height: 100%;
        }
    }
}

.settings-row > div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.3fr;
    column-gap: $margin-md;
    height: 100%;
}

.settings-row .file-input-row .browse-button {
    width: 90%;
}

.settings-row input:not([type="checkbox"]),
.settings-row button {
    margin-bottom: $margin;
    padding: $margin $margin-md;
}

.settings-row input {
    border-color: var(--accent-bg);
}

.settings-row label::before {
    white-space: normal !important;
    width: 15em;
}

.settings-row label[data-tooltip],
.file-input-row label[data-tooltip] {
    border-bottom: none !important;
}

.settings-row input[role="switch"] {
    margin-top: $margin-sm;
}
