@import "pico.scss";
@import "vars.scss";

html {
    overflow: hidden;
}

body {
    -webkit-user-select: none;
    user-select: none;
}

*::selection {
    background-color: var(--primary-muted);
}

summary::marker,
summary::-webkit-details-marker {
    display: none !important;
}

.container,
.container-fluid {
    height: 95vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100vw;
}

.fix-icons {
    display: flex;
    align-items: center;
    align-content: center;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.d-none {
    display: none;
}

.fill {
    width: 100vw !important;
    height: 100vh !important;
}

a[role="button"],
button {
    background-color: var(--button-bg);
    border: none;
    padding: $margin $margin-md;
}

a[role="button"]:hover,
button:hover {
    background-color: var(--button-bg-hover);
}

a[role="button"].secondary,
button.secondary {
    background-color: var(--secondary-button-bg);
}

a[role="button"].secondary:hover,
button.secondary:hover {
    background-color: var(--secondary-button-bg-hover);
}

.muted {
    color: var(--primary-muted);
}

@import "files.scss";
@import "nav.scss";
@import "tabs.scss";
@import "mods.scss";
@import "modals.scss";
@import "settings.scss";
@import "about.scss";
@import "downloads.scss";
@import "logs.scss";
@import "install-from.scss";
@import "scrollbars.scss";
@import "setup.scss";
