@import "vars.scss";

body {
    -webkit-user-select: none;
    user-select: none;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.fix-icons {
    display: flex;
    align-items: center;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.d-none {
    display: none;
}

.fill {
    width: 100vw !important;
    height: 100vh !important;
}

a[role="button"],
button {
    background-color: var(--button-bg);
    border: none;
    padding: $margin $margin-md;
}

a[role="button"]:hover,
button:hover {
    background-color: var(--button-bg-hover);
}

input::-webkit-file-upload-button {
    background-color: var(--button-bg) !important;
    border: none !important;
    padding: $margin $margin-md !important;
    margin-right: $margin !important;
}

input::-webkit-file-upload-button:hover {
    background-color: var(--button-bg-hover) !important;
}

a[role="button"].secondary,
button.secondary {
    background-color: var(--secondary-button-bg);
}

a[role="button"].secondary:hover,
button.secondary:hover {
    background-color: var(--secondary-button-bg-hover);
}

.file-input-row {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
}

.file-input-row .browse-button {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 93%;
    margin-left: $margin;
}

.file-input-row .browse-button svg {
    margin-right: $margin;
}

.muted {
    color: var(--primary-muted);
}

@import "nav.scss";
@import "tabs.scss";
@import "mods.scss";
@import "modals.scss";
@import "settings.scss";
@import "about.scss";
@import "downloads.scss";
@import "logs.scss";
@import "install-from.scss";
@import "scrollbars.scss";
@import "setup.scss";
