.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: $margin;
    grid-row-gap: 0px;
    align-items: center;
    border-bottom: $border-size solid var(--accent-bg);
}

.tab {
    color: var(--primary);
    background-color: var(--accent-bg-darker);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
    border-top-left-radius: $tab-border-rad;
    border-top-right-radius: $tab-border-rad;
    padding: $margin 0;
}

.tab .fix-icons {
    justify-content: center;
}

.tab.shown {
    color: var(--primary-light);
    background-color: var(--accent-bg);
}

.tab:hover {
    color: var(--primary-light);
    background-color: var(--accent-bg-lighter);
}

.tab-icon {
    margin-right: $margin;
}

.sections {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: $margin;
    overflow: hidden;
}

.section {
    display: none;
    height: 100%;
    overflow: hidden;
}

.section.shown {
    display: initial;
}
