.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: $margin;
    grid-row-gap: 0px;
    align-items: center;
    border-bottom: $border-size solid $accent-bg;
}

.tab {
    color: $primary;
    background-color: $accent-bg-darker;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
    border-top-left-radius: $tab-border-rad;
    border-top-right-radius: $tab-border-rad;
    padding: $margin 0;
}

.tab .fix-icons {
    justify-content: center;
}

.tab.shown {
    color: $primary-light;
    background-color: $accent-bg;
}

.tab:hover {
    color: $primary-light;
    background-color: $accent-bg-lighter;
}

.tab-icon {
    margin-right: $margin;
}

.sections {
    position: relative;
    height: calc(100% - 6em);
    width: 100%;
    overflow: hidden;
}

.section {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: $margin;
    overflow-y: auto;
    overflow-x: hidden;
}

.section.shown {
    display: initial;
}
