// Manages *just* the theming for the app, use styles.scss for actual classes and such

// Sizing/Spacing
$border-size: 0.15em;
$tab-border-rad: 0.2em;
$margin: 0.4em;
$margin-sm: 0.2em;
$margin-md: 0.6em;
$margin-lg: 1em;
$margin-xl: 1.2em;
$max-width: 1200px;

:root {
    --primary-hover: var(--primary-dark);
    --color: var(--primary-really-light);
    --muted-color: var(--primary-muted);
    --h4-color: var(--primary-really-light);
    --background-color: var(--bg);
    --switch-color: var(--primary-really-light);
    --switch-background-color: var(--accent-bg);
    --switch-checked-background-color: var(--primary-really-dark);
    --accordion-open-summary-color: var(--primary);
    --accordion-border-color: var(--accent-bg);
    --tooltip-color: var(--primary-really-light);
    --tooltip-background-color: var(--accent-bg-lighter);
    --dropdown-color: var(--primary);
    --dropdown-border-color: var(--accent-bg);
    --dropdown-background-color: var(--accent-bg-darker);
    --dropdown-hover-background-color: var(--accent-bg);
    --form-element-background-color: var(--accent-bg);
    --form-element-disabled-background-color: var(--accent-bg-lighter);
    --form-element-border-color: var(--accent-bg);
    --form-element-disabled-border-color: var(--accent-bg-lighter);
    --form-element-disabled-opacity: 60%;
    --form-element-color: var(--primary-really-light);
    --form-element-placeholder-color: var(--muted-color);
    --form-element-active-background-color: var(--form-element-background-color);
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --progress-color: var(--primary);
    --progress-background-color: var(--accent-bg);
    --loading-spinner-opacity: 0.5;
    --font-size: 16px !important; // Pico resizes the font based on breakpoints, don't do that
}
