[package]
name = "owmods_core"
authors = ["Bwc9876 <bwc9876@gmail.com>"]
description = "The core library for the Outer Wilds Mod Manager"
version = "0.8.0"
edition = "2021"
readme = "./README.md"
license = "GPL-3.0-or-later"
repository = "https://github.com/Bwc9876/ow-mod-man/"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
opener = "0.6.0"
directories = "5.0.0"
reqwest = { version = "0.11.14", default-features = false, features = ["blocking", "json", "rustls-tls"] }
glob = "0.3.1"
version-compare = "0.1.1"
anyhow = "1.0.68"
zip = { version = "0.6.3", default-features = false, features = ["deflate", "zstd"] }
futures = "0.3.26"
log = "0.4.17"
tokio = { version = "1.25.0", features = ["net", "time", "process", "macros"] }
serde_repr = "0.1.10"
uuid = { version = "1.3.0", features = ["v4", "fast-rng"] }
typeshare = "1.0.0"
lazy_static = "1.4.0"
tempfile = "3.5.0"
rust-fuzzy-search = "0.1.1"

[dev-dependencies]
tokio-test = "0.4.2"
