body {
    /* Try to reduce white screen */
    background-color: #121212;
    height: 100vh;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media only print {
    * {
        display: none !important;
    }
}

@keyframes flash {
    0% {
        color: unset;
    }
    50% {
        color: var(--flash-color);
    }
    100% {
        color: unset;
    }
}

.downloads-flashing {
    --flash-color: #66bb6a;
    animation: flash 700ms ease-in-out 3;
}

.error {
    --flash-color: rgb(246, 104, 94);
}

.mod-thumb {
    height: 50%;
    width: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.mod-thumb {
    display: block;
}

.mod-thumb.disabled {
    filter: grayscale(100%) !important;
}

.scroll-shadows {
    --glow-color: 256, 256, 256;
    --glow-intensity: 0.3;
    --cover-color: 31, 31, 31;

    background:
        linear-gradient(90deg, rgb(var(--cover-color)) 30%, rgba(var(--cover-color), 0)) left,
        linear-gradient(90deg, rgba(var(--cover-color), 0), rgb(var(--cover-color)) 70%) right,
        radial-gradient(
                farthest-side at 0% 50%,
                rgba(var(--glow-color), var(--glow-intensity)),
                rgba(var(--glow-color), 0)
            )
            left,
        radial-gradient(
                farthest-side at 100% 50%,
                rgba(var(--glow-color), var(--glow-intensity)),
                rgba(var(--glow-color), 0)
            )
            right;

    background-repeat: no-repeat;
    background-size:
        100px 100px,
        100px 100px,
        50px 100px,
        50px 100px;
    background-attachment: local, local, scroll, scroll;
}
