[package]
name = "owmods_cli"
authors = ["Bwc9876 <bwc9876@outerwildsmods.com>"]
description = "A CLI Tool To Manage OWML Mods"
version = "0.12.2"
edition = "2021"
readme = "./README.md"
repository = "https://github.com/ow-mods/ow-mod-man/"
license = "GPL-3.0-or-later"

[package.metadata.deb]
depends = "libssl1.1"

[dependencies]
owmods_core = { version = "0.12.2", path = "../owmods_core" }
clap = { version = "4.5.1", features = ["derive"] }
colored = "2.1.0"
anyhow = "1.0.80"
indicatif = { version = "0.17.8", features = ["improved_unicode"] }
tokio = { version = "1.36.0", features = ["macros"] }
log = { version = "0.4.21", features = ["std"] }
clap_complete = "4.5.1"
serde_json = "1.0.114"

[build-dependencies]
clap = { version = "4.5.1", features = ["derive"] }
clap_complete = "4.5.1"
clap_mangen = "0.2.20"

[[bin]]
name = "owmods"
path = "src/main.rs"
