name: Continuous Integration (JS)

on:
  push:
    paths:
      - .github/workflows/ci_js.yml
      - owmods_gui/frontend/**
    branches:
      - main
      - renovate/js
  pull_request:
    paths:
      - .github/workflows/ci_js.yml
      - owmods_gui/frontend/**
    branches:
      - main
      - dev

jobs:
  js:
    name: Check Frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./owmods_gui/frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: owmods_gui/frontend/package.json
          cache: npm
          cache-dependency-path: owmods_gui/frontend/package-lock.json

      - name: Install Dependencies
        run: npm install

      - name: Lint
        run: npm run lint-dry

      - name: Check Formatting
        run: npm run prettier-check
